<%- include partials/header.js %>
    <h1><%= title %></h1>
    <p>My father is a Assistance chief-chemist of CESC electrical corporation and he is a wonderful father and friend. He gave me all he had throughout my childhood even when he was broke but he is one of the reason I am here in this wonderful college.</p>
</div>
    </body>

    </html>