<%- include partials/header.js %>
    <h1><%= title %></h1>
    <p>My mom is one of a kind. She is a housewife. She is a very kind person and a wonderful mom she forced me to go abroad and take computers. I am and will always be greatful to her throughout my life.</p>
    </div>
    </body>

    </html>