<%- include partials/header.js %>
    <h1><%= title %></h1>
    <p>I am Antanik a nice and humble person who is studying in Web Designing at Georgian College.And he is ready to fullfill his and his parents dreams. </p>
    </div>
    </body>

    </html>